.topSec{
    width: 75%;
    .headerSection{
        justify-content: space-between;
        display: flex;
        align-items: center;
        .title{
            h1{
                font-size: 2rem;
                color: #2da84c;
                font-weight: 700;
            }
            p{
                font-size: 1rem;
                color: rgb(114, 110, 110);
                font-weight: 650;
            }
        }
        .searchBar{
            display: flex;
            padding: 1rem 1.5rem;
            background: rgb(241, 238, 238);
            border-radius: 5px;
            gap: 1rem;
            box-shadow: 0 2px 4px  #d1f1d9;

            input{
                border: none;
                outline: none;
                background: none;
            }
        }
    }
}